@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #333 url('https://cutewallpaper.org/27/boy-girl-sad-wallpaper/1824614821.jpg') no-repeat center center / cover;
  color: rgb(12, 1, 1);
  overflow:hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
  padding: 0 3rem;
}

h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: rgb(12, 1, 1);
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}